@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
    --font-roboto: "Roboto", sans-serif;
    --font-lexend: "legend", sans-serif;
}