@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
    --font-roboto: "Roboto", sans-serif;
    --font-lexend: "legend", sans-serif;
}

.img-cover{
    background-image: url("/dynamic/bela.jpg");
}
.gradient{
    background-image: linear-gradient(90deg, rgba(16, 16, 16, 0.77) 0.12%, rgba(16, 16, 16, 0.515625) 45.88%, rgba(16, 16, 16, 0) 94.72%);
}